* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 60px;
    width: 100%;
    padding: 0 1em;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;

    &__item {
        display: flex;
        gap: 2em;
        cursor: pointer;

        &-link {

            &:hover {
                color: white;
            }
        }
    }
}

.footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: red;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.25em 2em;
        cursor: pointer;

        &-link {

            &:hover {
                color: white;
            }
        }
    }

    &__githublink {
        margin: 0 0 0.2em 0;
        position: fixed;
        bottom: 0;
        cursor: pointer;
    }
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.main {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0.1em;
        padding: 0.2em 1.5em;
        background-color: red;
    }

    &__random {
        margin: 1em 3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;

        &-div {
            position: relative;

            &-title {
                position: absolute;
                top: 5px;
                left: 5px;
                color: white;
            }

            &-img {
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

    }

    &__special-deal {
        margin: 0.5em;

        &-img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__last-order {
        margin: 0.5em;
        display: flex;
        flex-wrap: wrap;

        &-img {
            max-height: 200px;
            max-width: 200px;
            object-fit: cover;
        }
    }
}