* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Architects Daughter', cursive, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 60px;
  width: 100%;
  padding: 0 1em;
  position: fixed;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  cursor: pointer;
}

.header__item-link:hover {
  color: white;
}

.footer {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  background-color: red;
}

.footer__item {
  margin: 0.25em 2em;
  cursor: pointer;
}

.footer__item-link:hover {
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.main {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  margin: 0.1em;
  padding: 0.2em 1.5em;
  background-color: red;
}

.main__random {
  margin: 1em 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.main__random-div {
  position: relative;
  overflow: hidden;
}

.main__random-div-title {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}

.main__random-div-img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__special-deal {
  margin: 0.5em;
}

.main__special-deal-img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__last-order {
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__last-order-img {
  max-height: 200px;
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item-title {
  margin: 0.5em;
  height: 30px;
  width: 200px;
  padding: 0.2em 0;
  background-color: red;
  text-align: center;
  cursor: pointer;
}

.products__item-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.products__card {
  width: 350px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: 2px solid red;
}

.products__card-title {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0.2em;
  background-color: white;
  color: black;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.products__card-title.hovered {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 80%;
}

.products__card-price {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0.2em;
  background-color: white;
  color: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.products__card-price.hovered {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 80%;
}

.products__card-ingredients {
  position: absolute;
  bottom: 0;
  right: 10px;
  left: 10px;
  padding: 0.2em;
  background-color: white;
  color: black;
  text-align: justify;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.products__card-ingredients.hovered {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 80%;
}

.products__card-panel {
  width: 80px;
  height: 80px;
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  border-radius: 100%;
  font-size: 2rem;
  opacity: 0%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.products__card-panel.hovered {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 80%;
}

.products__card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.icon {
  cursor: pointer;
}

.icon-off {
  cursor: not-allowed;
}
/*# sourceMappingURL=app.css.map */